$white: #ffffff;
$blue-primary: #1c75bb;
$blue-primary-dark: #004f8f;
$mango: #ff9634;
$grey-basic: #f0f0f0;
$grey-basic-light: #f9f9f9;
$grey-basic-dark: #8e8e8c;
$grey-disabled: #d8d8d8;
$green-success: #88ca52;
$google-link: #4c9fea;
$facebook-link: #4460a0;
$google-red: #d93025;
