//Bulma-Tabs
$tabs-border-bottom-width: 4px;
$tabs-border-bottom-color: hsl(0, 0%, 94%);
$tabs-link-hover-border-bottom-color: transparent;
$tabs-link-active-color: black;
$tabs-toggle-link-active-border-color: $grey-disabled;
$tabs-toggle-link-active-background-color: $grey-disabled;
$tabs-link-hover-color: $grey-basic-dark;
// $tabs-toggle-link-border-width:8px;
