// colors
$grey-dark: $grey-basic-dark;
$grey-light: $grey-basic-light;
$primary: $blue-primary;
$link: $google-link;
$success: $green-success;
$warning: $mango;
$red: $google-red;
$danger: $google-red;
// screens
$widescreen-enabled: false;
$fullhd-enabled: false;
// general
$body-background-color: $grey-basic;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$button-disabled-background-color: $grey-disabled;
$button-disabled-border-color: $grey-disabled;
$button-disabled-opacity: 1;

.is-grey {
  background-color: $grey-basic !important;
}
.is-grey-light {
  background-color: $grey-basic-light !important;
}
.is-grey-dark {
  background-color: $grey-basic-dark !important;
}
