// box
$box-radius: 4px;
$box-padding: 0;
$box-shadow: 0;
$box-link-hover-shadow: 0;
$box-link-active-shadow: 0;
//button
.is-medium {
  width: 100%;
  height: 56px;
  font-size: 1rem !important;
}
.is-large {
  width: 100%;
  height: 46px;
}
.is-primary-dark {
  background-color: #004f8f !important;
  color: white !important;
  border-color: #004f8f !important;
}
.button[disabled] {
  background-color: $grey-disabled !important;
  color: #828282 !important;
}
//Message
$message-body-padding: 1rem;
$message-header-radius: 0;
.message.is-warning .message-header {
  justify-content: start !important;
  color: $white !important;
}
// notification
$notification-padding: 1rem 2.5rem 1rem 1.5rem;
