@import './colors.scss';
// general
$label-color: #828282;
$label-weight: 400;
$control-border-width: 2px;
$control-padding-vertical: calc(0.525rem - #{$control-border-width});
$control-padding-horizontal: calc(1rem - #{$control-border-width});
// input
$input-border-color: $grey-disabled;
$input-shadow: none;
// $input-background-color: transparent;
// $input-hover-color: $blue-primary-dark;
$input-hover-border-color: $blue-primary-dark;
$input-focus-color: $grey-disabled;
$input-focus-border-color: $blue-primary-dark;
$input-focus-box-shadow-color: $white;
$input-focus-box-shadow-size: 0;

$select-padding-right: calc(2 * #{$control-padding-horizontal});

@import '~bulma/sass/form/_all.sass';
//input File
.file-cta {
  background-color: transparent;
  font-weight: bold;
  border-color: $primary !important;
  color: $primary !important;
  text-align: center;
  justify-content: center;
}
.field {
  position: relative;
}
.control {
  z-index: 0;
  & .label:not(:last-child) {
    max-width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.is-active {
      width: max-content;
      max-width: calc(100% + 16px);
      margin-left: -1rem;
    }
  }
}
.control-error-message {
  text-align: left;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select {
  & .label:not(:last-child).is-active {
    width: max-content;
    min-width: calc(100 + 16px);
    max-width: calc(100 + 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: -0.75rem;
  }
}
.label {
  &:not(:last-child) {
    position: absolute;
    top: 0.75rem;
    z-index: 4 !important;
    left: $control-padding-horizontal;
    background-color: $white;
    width: fit-content;
    padding: 0;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-active {
      color: $blue-primary;
      transform: scale(0.65) translateY(-2.2rem);
      text-align: left;
      padding: 0 0.3rem;
      border-radius: 0px;
    }
  }
}
.input {
  box-sizing: content-box;
  z-index: 1;
  width: calc(100% - (#{$control-padding-horizontal} + (#{$control-border-width} * 3)));
  &.with-one-icon {
    width: calc(100% - (#{$control-padding-horizontal} + #{$control-border-width}) - 2rem);
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  control {
    &.is-#{$name} .input {
      border-color: $color;
    }
    &.is-#{$name} .label {
      color: $color;
    }
  }
}
.control-error-message {
  padding-left: 0.5rem;
}
.select {
  height: 4rem;
  margin-bottom: 0.75rem;
  &.is-fullwidth {
    width: calc(100% - #{$select-padding-right} - 0.75rem);
  }
  &.is-fullwidth:not(.is-multiple):not(.is-loading)::after {
    right: -1.5rem;
  }
  &:not(.is-multiple) {
    height: 4rem;
  }
  &:not(.is-multiple):not(.is-loading)::after {
    top: calc(50% - (#{$control-padding-vertical}));
    right: 0;
  }
  & select:not([multiple]) {
    padding-right: $select-padding-right;
  }
  & select {
    max-height: 3rem;
  }
}
