@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$family-sans-serif: 'Roboto', sans-serif;

// Set your brand colors
@import './colors';

// BULMA
@import './media-query';
// core
@import './core';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/_all.sass';
html {
  overflow-y: auto;
}
// elements
@import './elements.scss';
@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/notification.sass';
.box.is-squared,
.notification.is-squared {
  border-radius: 0;
}
.box.has-margined {
  margin: 16px 8px 0px;
}
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/elements/other.sass';
// form
@import './forms.scss';
// components
@import './components.scss';
@import '~bulma/sass/components/modal.sass';
// navbar
$navbar-height: 3.5rem;
@import '~bulma/sass/components/navbar.sass';
// .navbar,
// .navbar-start,
// .navbar-end,
// .navbar-item {
//   height: $navbar-height;
//   max-height: $navbar-height;
// }
// .navbar {
//   max-width: 100vw;
// }
// @media screen and (max-width: $desktop) {
//   .navbar-menu {
//     width: 100%;
//   }
// }
//Messages
@import '~bulma/sass/components/message.sass';
// @import '~bulma/sass/components/level.sass';
// layout
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/layout/section.sass';

// -Bulma Checkbox
@import './checkradio.sass';
// Bilma Tabs
@import '~bulma/sass/components/tabs.sass';
// .tabs a {
//   cursor: default;
// }

// // estilos generales
// .box.principal,
// #main-content {
//   min-height: calc(100vh - 56px);
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-between;
// }
// .btnNext {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }
// .box {
//   &.process {
//     padding: 1rem 1.5rem 0rem;
//   }
// }
// @media (min-width: 1024px) {
//   .btnNext {
//     display: flex;
//     justify-content: flex-end;
//     position: inherit;
//     width: auto;
//   }
//   .body {
//     background-image: url('../../assets/img/background.png');
//     padding: 1rem;
//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: calc(100vh - 56px);
//     height: auto;
//   }
// }

// BULMA EXTENTIONS

// - BULMA TOOLTIP
$tooltip-max-width: 16rem;
@import './bulma_tooltip/index.sass';

.tooltip-help {
  @extend .tooltip;
  cursor: help;
  pointer-events: all !important;

  .control & {
    top: 0.75rem !important;
    position: absolute !important;

    &.is-tooltip-top,
    &.is-tooltip-bottom {
      &::before,
      &::after {
        left: 25% !important;
      }
    }

    &.is-tooltip-right,
    &.is-tooltip-left {
      &::before {
        top: -70% !important;
      }

      &::after {
        top: 35% !important;
      }
    }
  }
}

@import './bulma-material-switch/index.scss';
